*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}
body {
    background-color: #EAECED;
}

.container {
    width: 1280px;
    margin: auto;
}
#nav {
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 10px;
    margin-bottom: 20px;
}
.logo {
    display: flex;
    align-items: center;
}
.nav-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    align-items: center;
    gap: 30px;

}
ul li {
    list-style: none;
}
ul li a {
    text-decoration: none; 
    padding: 6px 10px;  
    border-radius: 4px;
    transition: 0.5s;
}
ul li a:hover {
    background-color: #0f85c1;
}
.btn-2{
    background-color: #CAEB66;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 8px 15px;
    font-size: 18px;
    font-weight: bold;
}
.btn-1{
     background-color: #EAECED;
     cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 8px 15px;
    font-size: 18px;
    font-weight: bold;
}


/* hero section code hare  */

#hero {
     background-color: #FFFFFF;
     padding: 80px;
      border-radius: 10px;
      margin-bottom: 50px;
}
.hero-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
   
}
.hero-contant img {
    width: 220px;
}
.hero-contant h1 {
    font-size: 56px;
    font-weight: 700;
}
.hero-contant p {
    line-height: 26px;
    color: #606060;
}
.hero-contant *{
    margin-bottom: 10px;
}

.hero-btn-1 {
    background-color: #CAEB66;
    padding: 10px 30px;
    border-radius: 100px;
    border: none;
     font-weight: bold;
}
.hero-btn-2 {
    background-color: #eef0e7;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    font-weight: bold;
    margin-left: 20px;
}

/* second section code hare  */
#works {
    margin-bottom: 60px;
}
.name h3 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}
.works-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.works-box {
    background-color: #FFFFFF;
    width: 320px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px gray;
}
.works-box *{
    margin-bottom: 15px;
}
.works-box img {
    width: 100px;
}

/* third section section code hare  */
#service {
    background-color: #03373D;
    border-radius: 10px;
    padding: 100px;
    margin-bottom: 40px;
}
.head {
    text-align: center;
}
.head h2 {
    color: #EAECED;
    font-size: 38px;
    font-weight: bold;
}
.head p {
    line-height: 16px;
    color: #DADADA;
    width: 710px; 
    text-align: center;
    margin: auto;
    margin-bottom: 120px;
}
.head *{
    margin-bottom: 12px;
}
.service-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.service-box {
    width: 410px;
    text-align: center;
    padding: 20px;
     background-color: white;
     border-radius: 6px;
}
.service-box img {
    background-color: #FFFFFF;
    width: 50px;
    border-radius: 100px;
    line-height: 1.5px;
}
.service-box *{
    margin-bottom: 10px;
   
}

/* furth section code hare  */
/* brands  */

#brand {
    margin-bottom: 50px;
}
.brand-name h2 {
    font-size: 35px;
    margin: 30px 0px;
    font-weight: bold;
    text-align: center;
}
.brand-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.brand-box {
    width: 250px;
    text-align: center;
}
.brand-box img {
    width: 123px;
}

/* percel  */
/* fith sectio code hare  */
#percel {
    margin-bottom: 60px;
}
.percel-p {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    border-radius: 10px;
}
.percel-img img {
    width: 200px;
}
.percel-contant *{
    margin-bottom: 15px;
}


/* six section code hare  */
/* marchant  */

#marchant {
    margin-bottom: 50px;
    background-image: url(../Zap-shift-Resources-main/assets/be-a-merchant-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #03373D;
    border-radius: 10px;
    padding: 80px;
}
.marchant-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.marchant-contant h1 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
}

.marchant-contant p {
    line-height: 26px;
    color: #DADADA;
}
.marchant-contant *{
    margin-bottom: 15px;
}

.marchant-btn-1 {
    background-color: #CAEB66;
    padding: 8px 10px;
    color: #1F1F1F;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius: 100px;
    border: none;
}
.marchant-btn-2 {
    background-color: #d1d5c4;
    padding: 8px 20px;
    color: #1F1F1F;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid white;
    margin-left: 20px;
}
.marchant-img img {
    width: 520px;
}

/* seven section code hare  */
/* faq  */

#faq {
    margin-bottom: 50px;
}
.head-faq h2 {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    color: #03373D;
}
.head-faq p {
    color: #606060;
    text-align:center;
    margin-bottom: 50px;
}
.head-faq *{
    margin-bottom: 15px;
}
.poster-p {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 20px;
}
#faq-color {
    border-radius: 10px;
    padding: 20px;
    background-color: #067A87; 
    margin-bottom: 30px;
}

.faq-box-p {
    display: flex;
    justify-content: space-between;
    align-items: center; 
     background-color: white;
     padding: 40px 20px;
     border-radius: 10px;
     margin-bottom: 30px;
}


/* at the last section  */
/* footer  */

#foter {
    background-color: #0B0B0B;  
    padding: 80px;
    margin-bottom: 20px;
    border-radius: 10px;
}
#foter *{
    margin-bottom: 20px;
}
.logo-p h2 {
    color: #DADADA;
    font-weight: bold;
}
.logo-p {
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer-ul {
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#footer-ul li a {
    color: #EAECED;
}
.icon {
    text-align: center;
    gap: 15px;
}
.icon i {
    color: #EAECED;
    font-size: 30px;
}









/* responsive  */
@media screen and (max-width:1200px) {
    .container {
    width: 96%;
    margin: auto;
    }
    .hero-p  {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .service-p {
        flex-wrap: wrap;
        justify-content: center;
    }
    .service-box {
        width: 90%;
    }
    #marchant {
        padding: 40px;
    }
    .marchant-img img {
    width: 400px;
    }
    #foter {
        padding: 50px;
    }
}
@media screen and (max-width:1024px) {

    ul {
        display: none;
    }
      #hero  {
        padding: 40px;
    }
    .name h3 {
        text-align: center;
    }
    .works-p {
        flex-wrap: wrap;
        justify-content: center;
    }
    .service-box {
        width: 97%; 
    }
    .head p {
        width: 90%;
        margin-bottom: 30px;
    }
     #service {
        padding: 30px;
    }
    .brand-p  {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .marchant-p {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
     #marchant {
        padding: 40px;
    }
     #foter {
        padding: 40px;
    }
   
}
@media screen and (max-width:690px) {
      ul {
        display: none;
    }
     .container {
    width: 98%;
    margin: auto;
    }
    .logo img {
        width: 50%;
    }
    .btn-1 {
        font-size: 16px;
        padding: 6px 12px;
    }
    .btn-2 {
        font-size: 16px;
         padding: 6px 12px;
    }
    .logo h2 {
        font-size: 16px;
    }
    #hero  {
        padding: 20px;
    }
    .hero-contant h1 {
        font-size: 35px;
    }
    .hero-img img {
        width: 100%;
    }
    .works-p {
        flex-direction: column;
    }
    .works-box {
        width: 100%;
        text-align: center;
    }
      .head p {
        width: 98%;
        margin-bottom: 30px;
    }
     .service-box {
        width: 100%;
    }
    #service {
        padding: 20px;
    }
    .brand-p {
        flex-direction: column;
    }
    .brand-box {
        width: 100%;
    }
    .brand-name h2  {
        font-size: 25px;
        margin-bottom: 30px;
        padding: 0px 15px;
    }
    .percel-p {
        padding: 5px;
        gap: 10px;
    }
    .percel-img img {
        width: 100%;
    }
    .percel-contant p {
        font-size: 10px;
        color: grey;
    }
    .marchant-contant h1 {
        font-size: 25px;
    }
    .marchant-contant p {
        font-size: 15px;
    }
     .marchant-img img {
         width: 100%;
    }
      #marchant {
        padding: 10px;
    }
    .marchant-btn-1 {
        font-size: 16px;
    }
    .marchant-btn-2 {
        font-size: 16px;
     margin: auto;
    }
    .faq-box {
        font-size: 15px;
    }
     #foter {
        padding: 10px;
    }
}